body {
    margin:0;
    font-family: 'Mont', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

@font-face {
    font-family: 'Mont';
    src: url('/public/Mont-Regular.eot');
    src: local('Mont Regular'), local('Mont-Regular'),
    url('/public/Mont-Regular.eot?#iefix') format('embedded-opentype'),
    url('/public/Mont-Regular.woff2') format('woff2'),
    url('/public/Mont-Regular.woff') format('woff'),
    url('/public/Mont-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Mont', sans-serif;
}

.full-page-container {
    display:flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.columned-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.flex-container {
    display: flex;
    align-items: center;
}